#toolbar {
  height: 4em;
  flex: 0 1 auto;
  background-color: #555;
  display: flex;
}

#files {
  display: flex;
  flex-shrink: 0;
  flex: 0 1 auto;
  align-items: flex-end;
  overflow-x: scroll;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}

#file-add {
  display: inline-block;
  height: 2ex;
  width: 2ex;
  font-size: 20px;
  text-align: center;
  line-height: 0px;
  background-color: var(--bg-color);
  border: var(--line-color) solid 2px;
  margin: auto 10px;
  padding: 3px;
}

#file-add:hover {
  background-color: var(--line-color)
}